h1{
    text-align: center;
    ; 
}
div{
    border-color: blue;
    background-color: aquamarine;
}
button{
    
    border-color: blue;
    border-radius: 50%;
    border-style: dashed;
}